In [2]:
import pandas as pd

In [3]:
def parseCNPJ(x):
    try:
        return x.replace('.', '').replace('/', '').replace('-','')
    except AttributeError:
        pass

In [4]:
clientes_fornecedores = pd.read_csv('clientes_fornecedores.csv', error_bad_lines=False, sep=';')
clientes_fornecedores.rename(columns={'fornecedor':'empresa','document':'documento'}, inplace=True)
clientes_fornecedores.documento = clientes_fornecedores.documento.apply(lambda x: parseCNPJ(x))
clientes_fornecedores.set_index('documento', inplace=True)

In [5]:
clientes_fornecedores

,empresa,compradores
documento,,
20535361000140,SP FITNESS PRO EIRELI - EPP,NaN
01996104000160,Gráfica Santa Marta,NaN
01191515000189,TECNOAR SISTEMA DE AR LTDA,NaN
00000000000191,BANCO DO BRASIL SA,NaN
23282208000146,ENERGIA BRINDES,NaN
...,...,...
07691829000127,FORMA CERTA GRAFICA DIGITAL LTDA,"EDITORA SANAR LTDA - ME,2B Educação"
05150916000141,COMERCIAL PAULISTANO LTDA,"COND. EDIF. MAISON RAVEL,EDIFÍCIO CRYSTAL CAMP..."
10492913000126,PROJETEC MATERIAIS ELETRICOS EIRELI,"TBF-CONGONHAS,TBF-SÃO MATEUS,TBF-CAMPINAS,TBF-..."
74508201000130,R C TOOLS COMERCIAL FERRAMENTAS LTDA ME,"TB-UNIDADE OPERACIONAL RIO,TB-CETEM TECBAN VEL..."
19315146000154,COMPAREX BRASIL S.A.,Empresa Brasileira de Comunicação Produção Ltd...

In [6]:
compradores = pd.read_csv('compradores.csv', error_bad_lines=False, sep=';')

In [7]:
compradores.documento = compradores.documento.apply(lambda x: parseCNPJ(x))
compradores.set_index('documento', inplace=True)

In [8]:
compradores

                                          empresa
documento
14452433000192     0650 ÁPICE FREGUESIA RES CLUBE
14886384000104        0652 CONDOMINIO WIDE GARDEN
10893653000109   0851 COND. SPLENDOR VILA MASCOTE
10427332000100      0893 EDIFICIO PLATEAU JARDINS
53833109000176         0268 COND. EDIF. RIO NEGRO
...                                           ...
401636198240003                          Tranding
12552470000147      VIVANTI CHACARA SANTO ANTONIO
08907978000143                     UNIQUE JARDINS
04563672000166              sociedade fogás ltda.
21353497000100                   master serviços

[2120 rows x 1 columns]

In [9]:
compradores_numero_fornecedores_emitiu = pd.read_csv('compradores_numero_fornecedores_emitiu.csv', error_bad_lines=False, sep=';')

In [10]:
compradores_numero_fornecedores_emitiu.documento = compradores_numero_fornecedores_emitiu.documento.apply(lambda x: parseCNPJ(x))
compradores_numero_fornecedores_emitiu.set_index('documento', inplace=True)

In [11]:
compradores_numero_fornecedores_emitiu

,empresa,número de fornecedores
documento,,
10253815000136,0899 COND. EDIF. PARC EVIAN,0
67549043000100,Morada nova,0
07080597000170,A EXCLUSIVA MOVEIS E EQUIPAMENTOS PARA ESCRITO...,0
46776942000167,teste,0
29738552000183,SUPPLIER BOOK TECNOLOGIA LTDA,0
...,...,...
51427102000129,TB-MATRIZ TECBAN,171
51427102000471,TECNOLOGIA BANCARIA SA,6
51427102005279,TB-ESTOQUE CENTRAL DE PEÇAS,60
51427102000471,TB-CETEM TECBAN VELHO,256
04405242000116,Empresa Brasileira de Comunicação Produção Ltda,474

In [12]:
compradores_numero_ordens_emitidas = pd.read_csv('compradores_numero_ordens_emitidas.csv', error_bad_lines=False, sep=';')

In [13]:
compradores_numero_ordens_emitidas.documento = compradores_numero_ordens_emitidas.documento.apply(lambda x: parseCNPJ(x))
compradores_numero_ordens_emitidas.set_index('documento', inplace=True)

In [14]:
compradores_numero_ordens_emitidas

,empresa,número de ordens
documento,,
10253815000136,0899 COND. EDIF. PARC EVIAN,0
67549043000100,Morada nova,0
07080597000170,A EXCLUSIVA MOVEIS E EQUIPAMENTOS PARA ESCRITO...,0
46776942000167,teste,0
29738552000183,SUPPLIER BOOK TECNOLOGIA LTDA,0
...,...,...
51427102000129,TB-MATRIZ TECBAN,378
51427102000471,TECNOLOGIA BANCARIA SA,503
51427102005279,TB-ESTOQUE CENTRAL DE PEÇAS,747
51427102000471,TB-CETEM TECBAN VELHO,708
04405242000116,Empresa Brasileira de Comunicação Produção Ltda,1601

In [15]:
fornecedores = pd.read_csv('fornecedores.csv', error_bad_lines=False, sep=';')
fornecedores.documento = fornecedores.documento.apply(lambda x: parseCNPJ(x))
fornecedores.set_index('documento', inplace=True)

In [16]:
fornecedores

                                                          empresa
documento
70465339000149                                 Cotabox Tecnologia
00000000000191                                 BANCO DO BRASIL SA
01996104000160                                Gráfica Santa Marta
21416009000158                         RETALHAR COSTURANDO IDEIAS
00000000000191                                 BANCO DO BRASIL SA
...                                                           ...
36746708000133           william do nascimento manoel 35885864829
34380771000173  wk manutençao e reparaçao de maquinas aparelho...
04243521000120  ws intercom sistemas de segurança eletronico l...
01892531000107                     ÃGUIA SERVIÇOS DE LIMPEZA LTDA
27078632000124                          Ônix Produtos de Limpeza

[13491 rows x 1 columns]

In [17]:
fornecedores_numero_cotacoes_respondidas = pd.read_csv('fornecedores_numero_cotacoes_respondidas.csv', error_bad_lines=False, sep=';')
fornecedores_numero_cotacoes_respondidas.rename(columns={'document':'documento'}, inplace=True)
fornecedores_numero_cotacoes_respondidas.documento = fornecedores_numero_cotacoes_respondidas.documento.apply(lambda x: parseCNPJ(x))
fornecedores_numero_cotacoes_respondidas.set_index('documento', inplace=True)

In [18]:
fornecedores_numero_cotacoes_respondidas

                                               empresa  cotacoes respondidas
documento
00000000000191                      BANCO DO BRASIL SA                     0
24740268000128   PREFEITURA MUNICIPAL DE PORTO ESTRELA                     0
62060074000170                                  RETTEC                     0
10494653000128                                MALU.COM                     1
10948651004663                   SPRINGER CARRIER LTDA                     0
...                                                ...                   ...
26497809000164      mselli Tecnologia e informática ME                    49
06990399000181       maxmus artes graficas eirelli epp                     1
23506938000183  marcio de oliveira lima soluções em ti                     0
32351821000169                   marcelo gomes batista                     0
01892531000107          ÃGUIA SERVIÇOS DE LIMPEZA LTDA                     5

[13491 rows x 2 columns]

In [19]:
fornecedores_numero_ordens_recebidas = pd.read_csv('fornecedores_numero_ordens_recebidas.csv', error_bad_lines=False, sep=';')
fornecedores_numero_ordens_recebidas.documento = fornecedores_numero_ordens_recebidas.documento.apply(lambda x: parseCNPJ(x))
fornecedores_numero_ordens_recebidas.set_index('documento', inplace=True)

In [20]:
fornecedores_numero_ordens_recebidas

,empresa,número de ordens
documento,,
17397160000119,ECO GERADORES,0
21416009000158,RETALHAR COSTURANDO IDEIAS,0
04052232000144,Laticínios vila Buarque Ltda,0
04073758000100,CENTRATO - COMERCIO DE PRODUTOS GASTRONOMICOS ...,0
21506037000166,Bompel Comércio de Calçados,0
...,...,...
07691829000127,FORMA CERTA GRAFICA DIGITAL LTDA,159
10492913000126,PROJETEC MATERIAIS ELETRICOS EIRELI,158
05150916000141,COMERCIAL PAULISTANO LTDA,146
74508201000130,R C TOOLS COMERCIAL FERRAMENTAS LTDA ME,169
19315146000154,COMPAREX BRASIL S.A.,147

In [21]:
fornecedores_total_ordens = pd.read_csv('fornecedores_total_ordens.csv', error_bad_lines=False, sep=';')
fornecedores_total_ordens.documento = fornecedores_total_ordens.documento.apply(lambda x: parseCNPJ(x))
fornecedores_total_ordens.set_index('documento', inplace=True)

In [22]:
fornecedores_total_ordens

,empresa,total de ordens R$
documento,,
17397160000119,ECO GERADORES,0.000
21416009000158,RETALHAR COSTURANDO IDEIAS,0.000
04052232000144,Laticínios vila Buarque Ltda,0.000
04073758000100,CENTRATO - COMERCIO DE PRODUTOS GASTRONOMICOS ...,0.000
21506037000166,Bompel Comércio de Calçados,0.000
...,...,...
07691829000127,FORMA CERTA GRAFICA DIGITAL LTDA,1174921.170
10492913000126,PROJETEC MATERIAIS ELETRICOS EIRELI,269468.027
05150916000141,COMERCIAL PAULISTANO LTDA,87683.380
74508201000130,R C TOOLS COMERCIAL FERRAMENTAS LTDA ME,382493.920
19315146000154,COMPAREX BRASIL S.A.,262622.260

In [23]:
fornecedores_volumeFinanceiro_ultimos12meses = pd.read_csv('fornecedores_volumeFinanceiro_ultimos12meses.csv', error_bad_lines=False, sep=';')
fornecedores_volumeFinanceiro_ultimos12meses.rename(columns={'Empresa':'empresa','CNPJ':'documento'}, inplace=True)
fornecedores_volumeFinanceiro_ultimos12meses.documento = fornecedores_volumeFinanceiro_ultimos12meses.documento.apply(lambda x: parseCNPJ(x))
fornecedores_volumeFinanceiro_ultimos12meses.set_index('documento', inplace=True)

In [24]:
fornecedores_volumeFinanceiro_ultimos12meses

,empresa,Total_vendas_12
documento,,
10785567000174,NCR BRASIL INDUSTRIA DE EQUIPAMENTO,25605918.36
05437734000156,NTT BRASIL COMERCIO E SERVICOS DE TECNOLOGIA LTDA,22515187.74
66888868000188,HAVASPLUS AGENCIA DE PUBLICIDADE LT,13524112.37
07939675000140,ALMEIDA PRADO E HOFFMANN ADVG ASSOCIADOS,8020000.00
05206385000161,HUGHES TELECOMUNICACOES DO BRASIL L,8017854.12
...,...,...
16151730000123,CACTUS CENTRO DE INSTRUCAO E FORMAC,0.00
30767948000138,FH SERVICOS DE CONSULTORIA EM SISTE,0.00
13231577000156,JMCPROJETOS SERVICOS DE ENGENHARIA,0.00
08935845000180,ESP MS ESCOLA DE SEGURANCA PRIVADA,0.00
04527228000195,KA SOLUTION INFORMATICA,0.00

In [25]:
#fornecedores
#clientes_fornecedores
#fornecedores_numero_cotacoes_respondidas
#fornecedores_numero_ordens_recebidas
#fornecedores_total_ordens

In [26]:
l = list(fornecedores_total_ordens.index)

In [27]:
fornecedores.drop(list(set([x for x in l if l.count(x) > 1])), inplace=True)

In [28]:
clientes_fornecedores.drop(list(set([x for x in l if l.count(x) > 1])), inplace=True)

In [29]:
fornecedores_total_ordens.drop(list(set([x for x in l if l.count(x) > 1])), inplace=True)

In [30]:
fornecedores_numero_ordens_recebidas.drop(list(set([x for x in l if l.count(x) > 1])), inplace=True)

In [31]:
fornecedores_numero_cotacoes_respondidas.drop(list(set([x for x in l if l.count(x) > 1])), inplace=True)

In [32]:
#fornecedores
#clientes_fornecedores
#fornecedores_numero_cotacoes_respondidas
#fornecedores_numero_ordens_recebidas
#fornecedores_total_ordens

In [33]:
teste = pd.concat([fornecedores, clientes_fornecedores, fornecedores_numero_cotacoes_respondidas, fornecedores_numero_ordens_recebidas, fornecedores_total_ordens], axis=1)
teste = teste.loc[:,~teste.columns.duplicated()]

In [34]:
teste

,empresa,compradores,cotacoes respondidas,número de ordens,total de ordens R$
70465339000149,Cotabox Tecnologia,Applar Tecnologia Ltda.,0,1,1350.0
01996104000160,Gráfica Santa Marta,NaN,15,0,0.0
21416009000158,RETALHAR COSTURANDO IDEIAS,NaN,1,0,0.0
17397160000119,ECO GERADORES,NaN,0,0,0.0
04073758000100,CENTRATO - COMERCIO DE PRODUTOS GASTRONOMICOS ...,NaN,0,0,0.0
...,...,...,...,...,...
36746708000133,william do nascimento manoel 35885864829,NaN,0,0,0.0
34380771000173,wk manutençao e reparaçao de maquinas aparelho...,NaN,0,0,0.0
04243521000120,ws intercom sistemas de segurança eletronico l...,TBF-RIO DE JANEIRO,1,1,1376.0
01892531000107,ÃGUIA SERVIÇOS DE LIMPEZA LTDA,NaN,5,0,0.0
27078632000124,Ônix Produtos de Limpeza,NaN,0,0,0.0

In [35]:
teste.to_csv('teste.csv')

In [41]:
teste.head(50)

,empresa,compradores,cotacoes respondidas,número de ordens,total de ordens R$
70465339000149,Cotabox Tecnologia,Applar Tecnologia Ltda.,0,1,1350.00
01996104000160,Gráfica Santa Marta,NaN,15,0,0.00
21416009000158,RETALHAR COSTURANDO IDEIAS,NaN,1,0,0.00
17397160000119,ECO GERADORES,NaN,0,0,0.00
04073758000100,CENTRATO - COMERCIO DE PRODUTOS GASTRONOMICOS ...,NaN,0,0,0.00
24110085000129,CONTRACTGEO PRODUTOS PARA ENGENHARIA LTDA - EPP,NaN,1,0,0.00
01191515000189,TECNOAR SISTEMA DE AR LTDA,NaN,0,0,0.00
11340242000140,GRUPO SASMA,Senai Pirituba,29,1,2029.98
20535361000140,SP FITNESS PRO EIRELI - EPP,NaN,8,0,0.00
18229588000115,BELCLEAN,NaN,12,0,0.00
46522942000130,MUNICIPIO DE SANTO ANDRE,NaN,0,0,0.00
24740268000128,PREFEITURA MUNICIPAL DE PORTO ESTRELA,NaN,0,0,0.00
13635008000176,PREFEITURA MUNICIPAL,NaN,0,0,0.00
10981623000146,GDE BOMBAS,0934 COND. EDIF. TROVI MOOCA,95,1,77.95
24345090000110,JC&M SERVICE,NaN,9,0,0.00
10948651004663,SPRINGER CARRIER LTDA,NaN,0,0,0.00
55021455000185,Prefeitura de Poá,NaN,0,0,0.00
00142873000139,THERMIC,NaN,6,0,0.00
28470382000136,DEIGO EDITORA,NaN,0,0,0.00
28806187000134,Voltele Materiais Elétricos,NaN,7,0,0.00
62060074000170,RETTEC,NaN,0,0,0.00
21506037000166,Bompel Comércio de Calçados,NaN,0,0,0.00
33544370002940,ANEAS EDICOES LOYOLA,EDITORA SANAR LTDA - ME,0,1,8334.85
09323421000128,JAGUARE EPI'S,NaN,1,0,0.00
13705784000103,TELBRA-EX,NaN,0,0,0.00
08183540000160,LAMARCA BRINDES,NaN,4,0,0.00
10494653000128,MALU.COM,NaN,1,0,0.00
05496472000109,RECOL VEICULOS,NaN,1,0,0.00
00807528000177,NOGUEIRA,Sony Music,2,1,340.00
08748749000123,SAGA AMAZONIA,NaN,2,0,0.00
02782913000132,PREMIER PESCADOS,NaN,0,0,0.00
04495167000121,COLOR SYSTEM,EDITORA SANAR LTDA - ME,0,3,85490.00
10377609000138,FRIGOSUIN,NaN,0,0,0.00
29300693000110,Stok D’Água,NaN,0,0,0.00
60663341000250,EDITORA MUNDO CRISTAO,Sony Music,1,1,4000.00
01928880000123,PEREIRA LIMA,NaN,0,0,0.00
00474763000174,CARNES SAN PEDRO,NaN,2,0,0.00
26502601000196,EFRAIM CONSULTORIA E SERVICOS,NaN,0,0,0.00
04052232000144,Laticínios vila Buarque Ltda,NaN,0,0,0.00
07851247000675,PALMALI,NaN,1,0,0.00
62388798000148,AKAMINE EVENTOS,NaN,0,0,0.00
33955436000193,zit,EDITORA SANAR LTDA - ME,0,1,14960.00
52645009000820,frigoestrela,NaN,1,0,0.00
08383345000183,LATICINIOS SAO PAULO,NaN,1,0,0.00
05494486000185,havana bebidas,NaN,0,0,0.00
56851868000150,Datiquim Produtos Químicos,NaN,0,0,0.00
24699832000106,KINGFOOD,NaN,0,0,0.00
06222544000184,GASTRO CATERING E BUFFET CORPORATIVO,Sony Music,1,1,6000.00
28551952000112,thunder,NaN,0,0,0.00
14277182000157,ITAPEVI EMBALAGENS,"ALLIED TECNOLOGIA S.A,ALLIED TECNOLOGIA S.A.",21,7,237260.00